body {
  background-color: #212121;
  color: #eeeeee;
  font-family: 'Monaco', 'Consolas', 'Courier New', 'Courier', 'Yu Gothic',
    YuGothic, Verdana, Meiryo, monospace;
  font-size: 10vh;
}

.text::before,
.text::after {
  content: 'Glitch';
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 0.5vh;
  background-color: #212121;
}
.text::before {
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: 10s linear infinite glitch;
}
.text::after {
  z-index: 1;
  transform: translate(-50%, -50%) translateX(0.5vh);
}

@keyframes glitch {
  0% {
    clip-path: inset(8% 0 46% 0);
  }
  1% {
    clip-path: inset(77% 0 3% 0);
  }
  2% {
    clip-path: inset(95% 0 23% 0);
  }
  3% {
    clip-path: inset(13% 0 86% 0);
  }
  4% {
    clip-path: inset(4% 0 30% 0);
  }
  5% {
    clip-path: inset(38% 0 68% 0);
  }
  6% {
    clip-path: inset(90% 0 95% 0);
  }
  7% {
    clip-path: inset(22% 0 12% 0);
  }
  8% {
    clip-path: inset(100% 0 8% 0);
  }
  9% {
    clip-path: inset(84% 0 99% 0);
  }
  10% {
    clip-path: inset(78% 0 24% 0);
  }
  11% {
    clip-path: inset(92% 0 55% 0);
  }
  12% {
    clip-path: inset(88% 0 13% 0);
  }
  13% {
    clip-path: inset(27% 0 79% 0);
  }
  14% {
    clip-path: inset(42% 0 52% 0);
  }
  15% {
    clip-path: inset(61% 0 32% 0);
  }
  16% {
    clip-path: inset(73% 0 67% 0);
  }
  17% {
    clip-path: inset(3% 0 4% 0);
  }
  18% {
    clip-path: inset(96% 0 12% 0);
  }
  19% {
    clip-path: inset(39% 0 74% 0);
  }
  20% {
    clip-path: inset(66% 0 21% 0);
  }
  21% {
    clip-path: inset(19% 0 13% 0);
  }
  22% {
    clip-path: inset(69% 0 21% 0);
  }
  23% {
    clip-path: inset(54% 0 39% 0);
  }
  24% {
    clip-path: inset(45% 0 22% 0);
  }
  25% {
    clip-path: inset(18% 0 26% 0);
  }
  26% {
    clip-path: inset(88% 0 82% 0);
  }
  27% {
    clip-path: inset(44% 0 78% 0);
  }
  28% {
    clip-path: inset(66% 0 36% 0);
  }
  29% {
    clip-path: inset(23% 0 3% 0);
  }
  30% {
    clip-path: inset(89% 0 10% 0);
  }
  31% {
    clip-path: inset(16% 0 34% 0);
  }
  32% {
    clip-path: inset(69% 0 24% 0);
  }
  33% {
    clip-path: inset(49% 0 6% 0);
  }
  34% {
    clip-path: inset(33% 0 4% 0);
  }
  35% {
    clip-path: inset(11% 0 58% 0);
  }
  36% {
    clip-path: inset(89% 0 6% 0);
  }
  37% {
    clip-path: inset(35% 0 91% 0);
  }
  38% {
    clip-path: inset(84% 0 35% 0);
  }
  39% {
    clip-path: inset(21% 0 78% 0);
  }
  40% {
    clip-path: inset(39% 0 93% 0);
  }
  41% {
    clip-path: inset(50% 0 74% 0);
  }
  42% {
    clip-path: inset(24% 0 88% 0);
  }
  43% {
    clip-path: inset(40% 0 36% 0);
  }
  44% {
    clip-path: inset(34% 0 82% 0);
  }
  45% {
    clip-path: inset(71% 0 63% 0);
  }
  46% {
    clip-path: inset(7% 0 76% 0);
  }
  47% {
    clip-path: inset(10% 0 89% 0);
  }
  48% {
    clip-path: inset(32% 0 6% 0);
  }
  49% {
    clip-path: inset(47% 0 83% 0);
  }
  50% {
    clip-path: inset(84% 0 49% 0);
  }
  51% {
    clip-path: inset(28% 0 72% 0);
  }
  52% {
    clip-path: inset(11% 0 1% 0);
  }
  53% {
    clip-path: inset(40% 0 47% 0);
  }
  54% {
    clip-path: inset(58% 0 65% 0);
  }
  55% {
    clip-path: inset(27% 0 52% 0);
  }
  56% {
    clip-path: inset(13% 0 83% 0);
  }
  57% {
    clip-path: inset(93% 0 84% 0);
  }
  58% {
    clip-path: inset(90% 0 26% 0);
  }
  59% {
    clip-path: inset(21% 0 63% 0);
  }
  60% {
    clip-path: inset(33% 0 76% 0);
  }
  61% {
    clip-path: inset(31% 0 81% 0);
  }
  62% {
    clip-path: inset(37% 0 17% 0);
  }
  63% {
    clip-path: inset(13% 0 90% 0);
  }
  64% {
    clip-path: inset(16% 0 18% 0);
  }
  65% {
    clip-path: inset(63% 0 69% 0);
  }
  66% {
    clip-path: inset(84% 0 88% 0);
  }
  67% {
    clip-path: inset(8% 0 52% 0);
  }
  68% {
    clip-path: inset(41% 0 56% 0);
  }
  69% {
    clip-path: inset(47% 0 65% 0);
  }
  70% {
    clip-path: inset(87% 0 58% 0);
  }
  71% {
    clip-path: inset(11% 0 5% 0);
  }
  72% {
    clip-path: inset(98% 0 62% 0);
  }
  73% {
    clip-path: inset(30% 0 88% 0);
  }
  74% {
    clip-path: inset(42% 0 86% 0);
  }
  75% {
    clip-path: inset(54% 0 15% 0);
  }
  76% {
    clip-path: inset(93% 0 71% 0);
  }
  77% {
    clip-path: inset(72% 0 29% 0);
  }
  78% {
    clip-path: inset(71% 0 66% 0);
  }
  79% {
    clip-path: inset(53% 0 25% 0);
  }
  80% {
    clip-path: inset(21% 0 48% 0);
  }
  81% {
    clip-path: inset(82% 0 44% 0);
  }
  82% {
    clip-path: inset(93% 0 36% 0);
  }
  83% {
    clip-path: inset(23% 0 45% 0);
  }
  84% {
    clip-path: inset(44% 0 45% 0);
  }
  85% {
    clip-path: inset(46% 0 22% 0);
  }
  86% {
    clip-path: inset(93% 0 14% 0);
  }
  87% {
    clip-path: inset(76% 0 35% 0);
  }
  88% {
    clip-path: inset(89% 0 38% 0);
  }
  89% {
    clip-path: inset(69% 0 73% 0);
  }
  90% {
    clip-path: inset(45% 0 65% 0);
  }
  91% {
    clip-path: inset(16% 0 6% 0);
  }
  92% {
    clip-path: inset(55% 0 83% 0);
  }
  93% {
    clip-path: inset(31% 0 84% 0);
  }
  94% {
    clip-path: inset(80% 0 86% 0);
  }
  95% {
    clip-path: inset(15% 0 61% 0);
  }
  96% {
    clip-path: inset(50% 0 32% 0);
  }
  97% {
    clip-path: inset(30% 0 20% 0);
  }
  98% {
    clip-path: inset(25% 0 56% 0);
  }
  99% {
    clip-path: inset(82% 0 4% 0);
  }
  100% {
    clip-path: inset(31% 0 14% 0);
  }
}
