body {
  background-color: #212121;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: circle-rotation 2s linear infinite;
}

.semicircle1,
.semicircle2 {
  position: relative;
  width: 20vh;
  height: 20vh;
  overflow: hidden;
}

.semicircle1-inner,
.semicircle2-inner {
  position: absolute;
  box-sizing: border-box;
  width: 20vh;
  height: 10vh;
}

.semicircle1-inner {
  bottom: 0;
  border: 6.6666666667vh solid #d61738;
  border-bottom: none;
  border-radius: 50% 50% 0 0/100% 100% 0 0;
  transform-origin: center bottom;
  animation: semicircle-rotation 2s ease-in-out infinite,
    semicircle-color 8s step-end infinite;
}

.semicircle2-inner {
  top: 0;
  border: 6.6666666667vh solid #ffffff;
  border-top: none;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform-origin: center top;
  animation: semicircle-rotation 2s ease-in-out infinite;
}

@keyframes circle-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
@keyframes semicircle-rotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes semicircle-color {
  0% {
    border-color: #d61738;
  }
  25% {
    border-color: #50afff;
  }
  50% {
    border-color: #f5bd28;
  }
  75% {
    border-color: #a662c2;
  }
}
