$duration: 2s;
$r: 10vh;
$b: (2 / 3) * $r;
$color-primary-1: #d61738;
$color-primary-2: #50afff;
$color-primary-3: #f5bd28;
$color-primary-4: #a662c2;
$color-secondary: #ffffff;

body {
  background-color: #212121;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: circle-rotation $duration linear infinite;
}

.semicircle1,
.semicircle2 {
  position: relative;
  width: (2 * $r);
  height: (2 * $r);
  overflow: hidden;
}

.semicircle1-inner,
.semicircle2-inner {
  position: absolute;
  box-sizing: border-box;
  width: (2 * $r);
  height: $r;
}

.semicircle1-inner {
  bottom: 0;
  border: $b solid $color-primary-1;
  border-bottom: none;
  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  transform-origin: center bottom;
  animation: semicircle-rotation $duration ease-in-out infinite,
    semicircle-color (4 * $duration) step-end infinite;
}

.semicircle2-inner {
  top: 0;
  border: $b solid $color-secondary;
  border-top: none;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  transform-origin: center top;
  animation: semicircle-rotation $duration ease-in-out infinite;
}

@keyframes circle-rotation {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

@keyframes semicircle-rotation {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes semicircle-color {
  0% {
    border-color: $color-primary-1;
  }
  25% {
    border-color: $color-primary-2;
  }
  50% {
    border-color: $color-primary-3;
  }
  75% {
    border-color: $color-primary-4;
  }
}
