$duration: 0.2s;
$w: 32vh;
$h: 18vh;
$m: 0.5vh;
$r: 0.5vh;
$color-window: #ffffff;
$color-curtain: #424242;
$color-rail: #bdbdbd;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}

.curtain {
  cursor: pointer;
}

.checkbox {
  display: none;
}

.inner {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: $w;
  height: $h;
  border-top: $r solid $color-rail;
  cursor: pointer;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-color: #000000;
  opacity: 0.1;
  transition: opacity $duration ease;
  will-change: opacity;
}

.window {
  position: absolute;
  top: $m;
  left: $m;
  right: $m;
  bottom: $m;
  z-index: -1;
  background-color: $color-window;
}

.left,
.right {
  display: flex;
  width: 50%;
  background-color: $color-curtain;
  transition: transform $duration ease;
  will-change: transform;

  div {
    flex-grow: 1;
    transition: background-color $duration ease;

    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 5%);
    }
  }
}

.left {
  transform-origin: top left;
}

.right {
  transform-origin: top right;
}

.checkbox {
  &:not(:checked) {
    .curtain:hover & ~ .inner {
      .left,
      .right {
        transform: scaleX(95%);
      }
    }
  }

  &:checked {
    & ~ .inner {
      .background {
        opacity: 0;
      }

      .left,
      .right {
        transform: scaleX(20%);

        div:nth-child(even) {
          background-color: rgba(0, 0, 0, 10%);
        }
      }
    }
  }
}
